@import "tailwindcss";

.Name {
  color: #ff3b3b;
  text-shadow: 0px 0px 10px #ff3b3b, 0px 0px 10px rgb(138, 127, 127);
}
*::selection {
  background: transparent;
  color: lightseagreen;
}
@font-face {
  font-family:Moranga;
  src: url(../public/moranga.ttf);
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.animate-blink {
  animation: blink 0.7s infinite;
}

:root {
  --x: 50px;
  --y: 50px;
}

.div {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: calc(100% - 85px);
  pointer-events: none;
  background: radial-gradient(
    350px at var(--x) var(--y),
    rgba(255, 255, 255, 0.06),
    rgba(0, 0, 0, 0.911)
  );
  transition: opacity 0.4s ease; /* Smooth fade control */
  opacity: 1;
}

.ScrollName{
  pointer-events: none;
  user-select: none;
  cursor: none;
}
.Tech,.ProjectsBanner, .FooterDetails{
    pointer-events: none;
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}
textarea::-webkit-scrollbar{
  display: none;
}